html{
    font-family: Verdana, Tahoma, sans-serif;
}

header{
    font-size: 25px;
    display: flex;
    justify-content: center;
    border-bottom: 5px solid rgb(0, 117, 251);
}

.words-container{
    padding: 20px;
    border: 2px solid brown;
    color: brown;
    font-size: 20px;
    border-radius: 10px;
}